.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container > a > button{
    border: 3px;
    border-radius: 5px; 
    padding: 15px; 
}
.container > a > button:hover{
    background-color: aqua;
}
.container{
    padding: 30px;
}
.container:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.container > a >button{
    padding-left: 10px;
    background-color: lightslategray;
} 
.container > a >img{
    border: 2px solid grey;
    border-radius: 3px;
}
a > button{
    cursor: pointer;
}




