.bar{
    display: flex;
}
.home-logo{
    background-color: rgb(220, 227, 250);
    width: 20%;
    text-align: center;
}
.up-to-date-mobiles{
    width: 100%;
    padding-left: 25%;
}
header{
    background-color: rgb(220, 227, 250);
    padding: 5px;
    color: rgb(12, 39, 97);
}
.con{
    background-size: cover;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.brands{
    text-align: center;
    color: black;
}
.container{
    display: flex;
    /*flex-direction: row-reverse;
    flex-wrap: wrap;*/
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(236, 239, 247);
}
.items{
    color: black;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    /* background-color: white; */
    padding: 8px;
    border: 0px;
    border-radius: 5px;
}
.items:hover{
    
     color: rgb(12, 39, 97); 
}
.class{
    background-image: url("../tech.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* ----------------------------------------------- */

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container2{
padding: 30px;
}
.container2:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.container2 > a >img{
    border: 2px solid grey;
    border-radius: 3px;
}
.container2 h3{
    width: 300px;
    text-align: justify;
}

